@charset 'utf-8';
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,800,800i|Open+Sans:300,300i,800|Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

body {
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
	font-family: 'Spectral', serif;
}

.skill {
		text-align: center;
		font-weight: 100;
	}

/* Containers */

.menu-container {
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 1;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.home-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background:url('../images/img_oyster_lg.jpg') no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.home-container-1 {
	width: 85%;
	display: flex;
}

.home-container-2 {
	width: 85%;
	position: absolute;
	bottom: 0;
}

.home-container-3 {
	width: 100%;
	margin: 0;
}

.experience-container {
	margin: 0;
	padding: 0;
	width: 100%;
	align-content: center;
	position: relative;
	background-color: white;
	background-size: cover;
}

.projects-container {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background:url('../images/img-cello-lg.png') no-repeat right;
	background-size: 15%;
	background-color: #4D88C2;
	position: relative;
}

.skill-container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background:url('../images/img_kite_lg.jpg') no-repeat center;
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.ahead-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background:url('../images/img_galway_lg.jpg') no-repeat center;
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.contact-container {
	margin: 0;
	padding: 0;
	width: 100%;
	align-content: center;
	position: relative;
	background-color: white;
	background-size: cover;
}


/* Paragraphs */

.alert-1 {
	margin-top: 10px;
	font-weight: 200;
	color: white;
	text-align: center;
}

.alert-2 {
	margin-left: 35px;
	margin-bottom: 35px;
	font-weight: 600;
	color: #A6ADB4;
	text-align: left;
}

.alert-3 {
	margin-right: 35px;
	font-weight: 600;
	color: #A6ADB4;
	text-align: right;
}

.projects {
	margin-left: 35px;
	font-weight: 200;
	font-size: 16px;
	color: white;
	text-align: left;
}

/* Colours */

.white {
	color: #fff;
}

.blue {
	color: #4D88C2;
}

.back-blue {
	background-color: #4D88C2;
}

.red {
	color: #A60303;
}

.back-red {
	background-color: #A60303;
}

.lgrey {
	color: #A6ADB4;
}

.back-lgrey {
	background-color: #A6ADB4;
}

.dgrey {
	color: #777B7E;
}

.back-dgrey {
	background-color: #777B7E;
}

/* Navbar */

#nav {
    margin: 0;
}

#nav li {
    font-size: 12px;
    padding: 0;
}

.menuitem {
    height: 60px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

.list-inline-item:not(:last-child) {
	margin: 0;
	width: 100%;
}


/* PageHeaders */

.pageheader-lt {
	font-family: 'Spectral', serif;
	text-align: center;
	font-size: 2em;
	color: white;
	margin-top: 90px;
}

.pageheader-dk {
	font-family: 'Spectral', serif;
	text-align: center;
	font-size: 2em;
	color: #777B7E;
	margin-top: 90px;

}

/* Experience / Education */

.timeline-item {
    padding: 4em 2em 0em 2em;
	margin-left: 30%;
    position: relative;
    color: #4D88C2;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #4D88C2;
}

.history-items {
    margin-bottom: 30px;
}


/* Buttons */

/* Alert */

/* Page Headers */

/* Quotes */

/* Features */

