@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,800,800i|Open+Sans:300,300i,800|Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

body {
	font-family: 'Open Sans', sans-serif;
}

/* Containers */

.container-fluid {
	margin: 0;
}

.menu-container {
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 1;
}

.home-container {
	margin: 0;
	height: 100vh;
	background:url('../images/img_oyster_lg.jpg') no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.content-container {
	padding: 80px 35px;
}

/* Colours */

.blue {
	color: #4D88C2;
}

.back-blue {
	background-color: #4D88C2;
}

.red {
	color: #A60303;
}

.back-red {
	background-color: #A60303;
}

.lgrey {
	color: #A6ADB4;
}

.back-lgrey {
	background-color: #A6ADB4;
}

.dgrey {
	color: #777B7E;
}

.back-dgrey {
	background-color: #777B7E;
}

/* Navbar */

#nav {
    margin: 0;
}

#nav li {
    font-size: 12px;
    padding: 0;
}

.menuitem {
    height: 60px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

.list-inline-item:not(:last-child) {
	margin: 0;
	width: 100%;
}

/*-------------------------------Hover.css */

.hvr-sweep-to-right::before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 60px;
}

/* PageHeaders */

.pageheader-lt {
	font-family: 'Spectral', serif;
	font-size: 2em;
	color: white;
}

.pageheader-dk {
	font-family: 'Spectral', serif;
	font-size: 2em;
	color: white;
}


/* Blockdividers */

/* Buttons */

/* Alert */

/* Page Headers */

/* Quotes */

/* Features */

